@font-face {
    font-family: 'SBL Greek';
    src: url('SBLGreek.woff2') format('woff2'),
        url('SBLGreek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SBL Hebrew';
    src: url('SBLHebrew.woff2') format('woff2'),
        url('SBLHebrew.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

